---
---

@import "variables";
@import "elements";
@import "layout";



body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #fff;
}

a {
  color: #fff;
}

/* Navbar  */

.navbar {
  background-color: #000;
  box-shadow: 1px 1px 40px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #000;
}

.navbar li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #000;
  text-decoration: none;
  font-size: 18px;
}

.navbar li a:hover,
.navbar .menu-btn:hover {
  background-color: #F1592A;
}

.navbar .logo {
  display: block;
  float: left;
  font-size: 1em;
  padding: 5px 10px;
  text-decoration: none;
  position: fixed;
  height: 64px;
  left: 1px;
  filter: brightness(130%);
}

/* menu */

.navbar .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.navbar .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navbar .menu-icon .nav-icon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.navbar .menu-icon .nav-icon:before,
.navbar .menu-icon .nav-icon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navbar .menu-icon .nav-icon:before {
  top: 5px;
}

.navbar .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu {
  max-height: 480px;
}

.navbar .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
  
}

.navbar .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
  
}


/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {
  .navbar li {
    float: left;
  }
  .navbar li a {
    padding: 20px 30px;
  }
  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar .menu-icon {
    display: none;
  }
}
