---
layout: default
title: "Kiran Foundation : I am Possible!"
carousels:
  - images: 
    - image: /images/imp/1.jpg
    - image: /images/imp/2.jpg
    - image: /images/imp/6.jpg
    - image: /images/imp/5.jpg
---
<header>
	<div class="container">
		{% include carousel.html height="50" unit="%" duration="7" number="1" %}
	</div>
</header>

<div class="container">
	<div class="columns col-wrapper">
		<div vertical-align="center">
			<h1 class="editable brand-txt" align="center">KIRAN FOUNDATION</h1>
			<p class="editable" align="center">
				If a hardworking, talented youth can not fulfill his dreams due to lack of resources, it is failure of the whole society. We dream of a society where merit and hard work is supported irrespective of the financial, physical or social status. 
				Kiran Foundation is family of like minded, capable and compassionate people and we are committed to bring a fundamental shift in our society. 
			</p>
			<br/>	
			<p>
			</p>
			<br/>
			<div class="button" align="center">
				<a href="/about/">Know more</a> <BR/>
			</div>
		</div>
		<div>
			<img src="{{ site.baseurl }}/images/ma/home.png" alt="Smt. Kiran Jain">
		</div>
	</div>
</div>
<div class="container"></div>

<div class="darker">
	<div class="container">
		<h2 class="editable brand3-txt">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts limit:3 %}
			
				<div class="post">
					{% if post.more == true %}
					<a href="{{ post.url }}" ><div class="image" style="background-image: url({{ post.featured_image}})"></div> </a>
					{% else %}
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					{% endif %}
					<div class="post-content">
						<h3> <b>{{ post.title }}</b></h3>
						{{ post.summary }}
						{% if post.more == true %}
							<p ><a href="{{ post.url }}" class="btn"> read more</a></p>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<br/>
		<br/>
		<center>
		<a  class="know_more"  href="/update/">Know More</a>
		</center>
	</div>
</div>

<div class="container">
	<h1 class="editable" style="text-align: center;">Our Initiatives </h1> <br/>  <br/>
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/pratibha.png"" width="600" alt="img">
		</div>
		<div>
			<h2 class="editable">किरण प्रतिभा</h2>
			<p class="editable">In India every year many bright young kids have let their hopes and dreams go. 
				They are forced by circumstances to battle harsh realities of life at the cost of their future. Many of them born 
				into poor or uneducated families. Our aim through this program is to identify exceptional but underprivileged kids and 
				support them in their endeavours of Education, Sports or Art according to their interest and abilities.</p> <br/>
			<div class="button">
				<a href="pratibha" target = "_blank">See Details</a><BR/>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="columns col-wrapper">
		
		<div>
			<h2 class="editable">किरण शक्ति</h2>

			<p class="editable">Confident and empowered women are essential for a strong and resilient society. Unfortunately, vitality of 
				women as a catalyst for change is grossly underestimated in our society. Through this program we provide vocational and 
				life skills trainings for women in their native language. 
				</p> <br/>
				 <div class="button">
					<a href="shakti" target = "_blank">See Details</a> <BR/>
				</div>
		</div>
		<div>
			<img src="{{ site.baseurl }}/images/shakti.png" width="600" alt="img">
		</div>
	</div>
</div>
<!-- div class="container">
	<div class="columns">
		<div>
			<img src= "{{ site.baseurl }}/images/samman.png" width="600" alt="img">
		</div>
		<div>
			<h2 class="editable">किरण सम्मान</h2>

			<p class="editable">We regularly organized various free workshops. Our workshops are conducted by subject matter experts and are 
				aimed to provide inspiration along with the information. We also provide one-on-one career counselling and guidence on the 
				need basis.Insensitivity makes India one of the worst countries for disabled. We are challenging this attitudes through disability 
				sensitization and working on restoring the respect and equality for people with disability.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="columns">
		
		<div>
			<h2 class="editable">किरण ज्ञान</h2>

			<p class="editable">Confident and empowered women are essential for a strong and resilient society. Unfortunately, vitality of 
				women as a catalyst for change is grossly underestimated in our society. Through this program we provide vocational and 
				life skills trainings for women in their native language.We not only train them but also connect them to opportunities based on thier skills and constraints.</p>
		</div>
		<div>
			<img src="{{ site.baseurl }}/images/gyan.png" width="600" alt="img">
		</div>
	</div>
</div -->

<div class="darker">
<div class="container">
	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="vision" %}</div>
			<h3 class="editable">Vision</h3>
			<p class="editable">{{site.data.company.vision }}  </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="mission" %}</div>
			<h3 class="editable">Mission</h3>
			<p class="editable">{{site.data.company.mission }} </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="motto" %}</div>
			<h3 class="editable">Values</h3>
			<p class="editable">{{site.data.company.values }}  </p>
		</li>
	</ul>
</div>
</div>

<div class="container">
	<blockquote>
		<p class="quote editable">कर्म ही तुम्हारी तपस्या है।</p>
	</blockquote>
</div>



<div class="darker">
	<div class="container">
		<h2 class="editable">Volunteers / Internship </h2>
		<p class="editable" style="text-align: center;">
			With more helping hands we can support more kids through our scholarship program. 
			We need support in increasing reach to students, raising funds, mentoring, website maintenance, building partnerships, starting new initiatives etc. 
			You don't have to make big commitments, few hours every week goes long way. Send us email on <a href="mailto:{{ site.data.company.email }}"> {{ site.data.company.email }} </a>
		</p>
		
	   </br>
	   <div align="center"> Or </div>
       </br>
		<div class="button" align="center">
			<a href="{{site.data.company.whatsapp_link }}"> <i class="fa fa-whatsapp" aria-hidden="true" style="font-size : 20px ;""></i> &nbsp; &nbsp; Contact on Whatsapp </a>
		</div>
	</div>
</div>
