---
layout: default
title: Kiran Foundation
---

<div class="kf">
<h2 class="editable" style="text-align: center;">Kiran Pratibha Scholarship</h2>
<h2 >About the Program</h2>  
<p> Kiran Foundation offers scholarship and support to exceptional but underprivileged kids in their 
    endeavours of Education, Sports or Art according to their interest and abilities. 
    Foundation will be offering active guidance and personalised mentoring along with Financial Support.
     The sole aim of foundation is be to make this kids capable and successful.</p>
     <h3>Criteria</h3>
     <ol>
        <li> Student must have any unique quality. </li>
        <li> ------------------------------------- </li>
        <li> ------------------------------------- </li>
        <li> ------------------------------------- </li>
    </ol>
    <h3>Selection Process</h3>
     <ol>
        <li> You have to register through the website. </li>
        <li> ------------------------------------- </li>
        <li> -------------------------------------</li>
        <li> ------------------------------------- </li>
    </ol>
        <div class="container">
            <h2 class="editable">Current Students</h2>
            <p class="editor-link"></p>
            <ul class="thirds">
                <li>
                    <div class="image">{% include icons/site.html icon = "population" %}</div>
                    <h3 class="editable">किरण प्रतिभा</h3>
                    <p class="editable"> Sports or Art according to their interest and abilities. </p>
                </li>
                <li>
                    <div class="image">{% include icons/site.html icon = "population" %}</div>
                    <h3 class="editable">किरण प्रतिभा</h3>
                    <p class="editable"> Sports or Art according to their interest and abilities. </p>
                </li>
                <li>
                    <div class="image">{% include icons/site.html icon="economy" %}</div>
                    <h3 class="editable">किरण शक्ति</h3>
                    <p class="editable"> . We not only train them but also connect them to opportunities based on thier skills and constraints.</p>
                </li>
        
                <li>
                    <div class="image">{% include icons/site.html icon="conditions" %}</div>
                    <h3 class="editable">किरण ज्ञान</h3>
                    <p class="editable">. We also provide one-on-one career counselling and guidence on the need basis.</p>
                </li>
        
                <li>
                    <div class="image">{% include icons/site.html icon="conditions" %}</div>
                    <h3 class="editable">किरण सम्मान</h3>
                    <p class="editable"> working on restoring the respect and equality for people with disability.</p>
                </li>
            </ul>
        </div>
     <div class="container">
        <div class="columns">
            <div>
                <img src="/bg-4.jpg" width="400" alt="img">
            </div>
            <div>
                <h2 class="editable">Our Pride</h2>
                <p class="editable">Leave no sheep behind. Our mission to give sheep the right to vote and have them represented in parliament. For too long sheep have been exploited for their warm wool and delicious meat. It's time to put our hooves down and baa for what's right. Give sheep the vote!</p>
            </div>
        </div>
    </div>  
    <div class="container">
        <div class="columns">
            <div>
                <h2 class="editable">Our Pride</h2>
    
                <p class="editable">Leave no sheep behind. Our mission to give sheep the right to vote and have them represented 
                    in parliament. For too long sheep have been exploited for their warm wool and delicious meat. It's time to put
                     our hooves down and baa for what's right. Give sheep the vote!</p>
            </div>
            <div>
                <img src="/bg-4.jpg" width="400" alt="img">
            </div>
        </div>
    </div>   
<div class="row" >
    <div class="col-lg-12">
        <div class="tm-box">
            <div class="tm-box-description" style="position: left;">
                <h2>Apply</h2>
                <p class="tm-box-p" >Please send the application along with following detail:
                <ol>
                    <li> Name, Address, Phone number etc. </li>
                    <li> Name of mother and father and means of living </li>
                    <li> Date of birth, qualification of the kid </li>
                    <li> Why should this scholarship be given to the kid. </li>
                </ol>
                </p>
                <p class="tm-box-p">Please send the application along with following detail:
                <ol>
                    <li> Attested photocopies of Last three years mark sheets. </li>
                    <li> Attested photocopies of certificates of achievements if any </li>
                    <li> Recommendation letter from two independent people (along with the phone number,
                        email, address or the person Recommending)</li>
                </ol>
                </p>
                <a href="https://docs.google.com/a/shoonye.com/forms/d/1w8X_oTeVyB_W3PNagIzw9C6g-uteE4kty9akLlI-RHM/viewform"
                    class="content-link" target="_blank" rel="noopener noreferrer">Submit Application
                    Online</a>
            </div>
        </div>
    </div>
</div>
<h2 class="heading">FAQ'S</h3>
    <section class="faq-container">
        <div class="faq-one">
            <p><b>What is the minimum age for aaplying?</b></p>
            <div class="faqans">
                <p>The minimum age for this application - </p>
            </div>
        </div>
        <hr class="hr-line">
<br />
</div>
</section>
</div>
</div>