---
layout: default
title: Kiran Pratibha | Kiran Foundation
accordion: 
  - title: Q. Whether Kiran Pratibha Scholarship is awarded only to economically challenged students?
    content: Yes scholarship is provided only to financially challenged students but financially able students You can contact us for counseling and mentoring. 
              
  - title: Q. Can more than one student from the same family apply for Kiran Pratibha Scholarship?
    content: Yes, more than one student from the same family can also apply for the scholarship.

  - title: Q. For students studying in colleges, once selected, for how long is the scholarship awarded?
    content: Every year the examination results of the students studying in the college are evaluated, further scholarship is provided on the same basis.

  - title: Q. Is the scholarship awarded every year to the selected student once?
    content: It depends on the performance of the student. Students selected after class VIII, after class X and students selected in class XI after class XII, re-examination results are evaluated, after which scholarship is provided to the students on the basis of merit.

  - title: Q. What is the expectation of Kiran Foundation from the students selected in Kiran Pratibha?
    content: The Foundation expects the students selected in Kiran Pratibha to use their potential in achieving their goals.
             Make full use of it, achieve the heights of success and become equal to yourself and the society around you.
             Be helpful in the progress of the students.

  - title: Q. If a student is already getting scholarship from any other source, can that also be apply here?
    content: If any student is already getting scholarship from any other source then he/she can also apply here Can, but the student will have to give its information to our foundation in advance.
            
  - title: Q. Is the scholarship offered by Kiran Pratibha only for Jain students?
    content: This is not the case that the scholarship provided by Kiran Pratibha is only for Jain students.
---
<!--header>
<div class="container">
		{% include carousel.html height="50" unit="%" duration="7" number="1" %}
	</div>
</header-->

<div class="container" >
    <div class="columns col-wrapper" style="padding-top: 30px;" >
        <div >
            <h1 class="editable brand-txt" align="center">Kiran Pratibha</h1>
            
            <p> Kiran Foundation offers scholarship to exceptional but underprivileged youth in their 
                endeavours of Education, Sports or Art, according to their interest and abilities. 
                Foundation will be offering active guidance and personalised mentoring along with Financial Support.
                    The sole aim of foundation is be to make this kids capable and successful.
            </p>
            <br/>
            <div class="button" align="center">
                <a href="https://forms.gle/DUSrs5XhL5poHebA9">Apply</a>
            </div>
        </div>
        <div >
            <span class="image-center" ><img src="{{ site.baseurl }}/images/einstein.png" alt="Pratibha"/> </span>
        </div>	 
    </div>   
</div>

<div class="container">
	<h1 class="editable" style="text-align: center;"> What we offfer </h1> <br/>  <br/>
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/money-plant.png"" width="600" alt="img">
		</div>
		<div>
			<h2 class="editable">Financial Support</h2>
			<p class="editable">The foundation will provide complete financial support to aid the scholar towards his/her persuite. This includes fee, accomodation, travel, puchase of books, equipments etc.
            </p>
		</div>
	</div>
</div>
<div class="container">
	<div class="columns col-wrapper">
		
		<div>
			<h2 class="editable">Personal Mentoring</h2>

			<p class="editable">Our team at foundation will work closely with each child. The team will gather nacessary resources and connections. Each child will be provided a personal mentor, who will be available for support at any given time.
			</p> 
		</div>
		<div>
			<img src="{{ site.baseurl }}/images/mentor.png" width="600" alt="img">
		</div>
	</div>
</div>

<div class="container">
	<h1 class="editable" style="text-align: center;"> Selection </h1> <br/>  <br/>
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/selection.png"" width="600" alt="img">
		</div>
		<div>
			<h2 class="editable">Eligibility</h2>
			<p class="editable">
                <ul>
                  <li class="li_selection">Monthly income of the Family should be less than Rs. 20,000. </li>
                  <li class="li_selection">Child should have passed 8th Standard or 14 Years of age.</li>
                  <li class="li_selection">Child should have shown enormous potential in his/her field of interest.</li> 
                </ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="columns col-wrapper">
		<div>
			<h2 class="editable">Selection Process</h2>
			<p class="editable">
                <ul>
                    <li class="li_selection"> Application Submitted by the applicant </li>
                    <li class="li_selection"> Application filtering based on documents</li>
                    <li class="li_selection"> Due diligence and background checks</li>
                    <li class="li_selection"> Telephonic Inrerview</li>
                    <li class="li_selection"> Home Visit</li>
                    <li class="li_selection"> Decision Announced by the committee</li>
                </ul>
           </p> 
		</div>
		<div>
			<img src="{{ site.baseurl }}/images/interview.png" width="600" alt="img">
		</div>
	</div>
</div>

<!--div class="container">
    <h2 class="editable">Current Students</h2>
    <p class="editor-link"></p>
    <ul class="thirds">
        <li>
            <div class="image">{% include icons/site.html icon = "population" %}</div>
            <h3 class="editable">किरण प्रतिभा</h3>
            <p class="editable"> Sports or Art according to their interest and abilities. </p>
        </li>
        <li>
            <div class="image">{% include icons/site.html icon = "population" %}</div>
            <h3 class="editable">किरण प्रतिभा</h3>
            <p class="editable"> Sports or Art according to their interest and abilities. </p>
        </li>
        <li>
            <div class="image">{% include icons/site.html icon="economy" %}</div>
            <h3 class="editable">किरण शक्ति</h3>
            <p class="editable"> . We not only train them but also connect them to opportunities based on thier skills and constraints.</p>
        </li>

        <li>
            <div class="image">{% include icons/site.html icon="conditions" %}</div>
            <h3 class="editable">किरण ज्ञान</h3>
            <p class="editable">. We also provide one-on-one career counselling and guidence on the need basis.</p>
        </li>

        <li>
            <div class="image">{% include icons/site.html icon="conditions" %}</div>
            <h3 class="editable">किरण सम्मान</h3>
            <p class="editable"> working on restoring the respect and equality for people with disability.</p>
        </li>
    </ul>
</div>       
<div class="container">
    <h2 class="editable">FAQ</h2>
    {% include accordion.html %}
</div -->



  
<div class="container">
    <h1 class="editable" style="text-align: center";> FAQ </h1>
    <div class="accordion">
      {% include accordion.html %}
    </div>
</div >
  





  <!--div class="darker">
    <div class="container">
      <h2 class="editable brand3-txt">Updates</h2>
      <p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
      <div class="posts">
        {% for post in site.posts limit:3 %}
        
          <div class="post">
            {% if post.more == true %}
            <a href="{{ post.url }}" ><div class="image" style="background-image: url({{ post.featured_image}})"></div> </a>
            {% else %}
            <div class="image" style="background-image: url({{ post.featured_image}})"></div>
            {% endif %}
            <div class="post-content">
              <h3> <b>{{ post.title }}</b></h3>
              {{ post.summary }}
              {% if post.more == true %}
                <p ><a href="{{ post.url }}" class="btn"> read more</a></p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <br/>
      <br/>
      <center>
      <a  class="know_more" href="/pratibhastudents/">Know More</a>
      </center>
    </div>
  </div-->