html, body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	min-width: 380px;
}
.kf-logo{
	margin-top: 10px;
	max-height: 50px;
}
img {
	max-width: 100%;
}

hr {
	height:1px;
	border: 0;
	background-color: #ddd;
	margin-bottom: 50px;
}

h1 {
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 3em;
}

h2 {
	font-size: 2.3em;
	margin: 0 0 30px 0;
	text-align: center;
}

h3 {
	font-size: 1.8em;
	margin: 20px 0 20px 0;
}

p {
	font-size: 1.3em;
	line-height: 1.4em;
	color: #888;
}

li{
	color: #888888;
}

nav {
	padding: 0px 0px;
	svg {
		fill: $brand-color;
		height: 35px;
	}
}

section {
	padding: 60px 0;
}

.cc form {
	display: flex;
	max-width: 500px;
	margin: 0 auto;

	input[type="text"] {
		width: 100%;
		border: 1px solid #ddd;


		&, &:focus {
			border-top-left-radius: 30px;
			border-bottom-left-radius: 30px;
		}

		&:focus {
			box-shadow: 0 0 5px 0 $brand-color;
			outline: none;
		}
	}

	input[type="textarea"] {
		flex-grow: 1;
		flex-shrink: 1;
		width: 100%;
		border: 1px solid #ddd;
		

		&:focus {
			box-shadow: 0 0 5px 0 $brand-color;
			outline: none;
		}
	}

	input[type="submit"] {
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;

		&:hover {
			background: darken($brand-color, 5%);
		}
	}
}

.button a, input[type="submit"], input[type="text"] {
	border: 0;
	padding: 15px 40px;
	box-sizing: content-box;
	font-size: 1em;
	font-weight: 00;
}
input[type="text"]{
	padding: 1px 1px;
	padding-inline-start: 10px;
}

.button a, input[type="submit"] {
	background: $brand-color;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}

.button a {
	display: inline-block;
	text-decoration: none;
	border-radius: 30px;
	transition: 200ms ease-in background;

	&:hover {
		background: darken($brand-color, 5%);
	}
}
.custom-size {
	height: 531px;
	width: 287px;
}

/* Media Queries
----------------------*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.blog-content > p#blofr {
	  padding: 18px; }
  
	.contact-content p {
	  font-size: 15px; } }
  /*    Tablet Layout: 768px. */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
	.blog-content p {
	  margin-bottom: 21px;
	  padding: 27px; }
  
	.blog-content span {
	  margin-left: 0; }
  
	.service > p {
	  font-size: 18px; }
  
	.contact-content p {
	  font-size: 18px;
	  padding: 15px 0; }
  
	.navbar-nav > li {
	  padding: 6px; }
  
	.navbar-inverse .navbar-nav > li > a {
	  font-size: 16px; } }
  @media only screen and (max-width: 1024px) {
	header,
	section#services-area,
	section#contact-area {
	  background-attachment: scroll; } }
  @media only screen and (max-width: 767px) {
	header {
	  height: 75vh;
	  padding: 0 15px;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: -webkit-box;
	  display: flex;
	  -webkit-align-items: center;
	  -ms-flex-align: center;
	  -webkit-box-align: center;
	  align-items: center;
	  -webkit-box-pack: center;
	  -webkit-justify-content: center;
	  -ms-flex-pack: center;
	  justify-content: center; }
  
	ul#menu {
	  display: none; }
  
	.slicknav_menu {
	  display: block;
	  position: fixed;
	  width: 100%;
	  z-index: 999;
	  background: none; }
  
	.header-content h1 {
	  font-size: 55px; }
  
	.feature-content {
	  max-width: 360px;
	  margin: 0 auto 30px; }
  
	.feature-content-title,
	.feature-content-description {
	  text-align: center; }
  
	.blog-content {
	  margin-bottom: 30px; }
  
	.blog-content p {
	  text-align: center; }
  
	.blog-content span {
	  margin-left: 0; }
  
	.testimornial-content p {
	  text-align: center; }
  
	.footer-content h4 {
	  font-size: 16px; }
  
	.navbar-nav > li {
	  display: block; }
  
	.navbar-inverse {
	  background: none;
	  border: none; }
  
	.navbar-inverse .navbar-toggle {
	  background-color: #333; }
  
	.navbar-inverse .navbar-collapse,
	.navbar-inverse .navbar-form {
	  background-color: #49505F; }
  
	.navbar .navbar-nav {
	  width: 100%;
	  margin: 0; }
  
	.navbar-collapse {
	  padding-right: 0px;
	  padding-left: 0px; }
  
	.navbar-nav > li {
	  width: 100%;
	  border-bottom: 1px solid #999;
	  padding: 0px; }
  
	.navbar-nav > li:last-child {
	  border-bottom: none; }
  
	.navbar-inverse .navbar-nav > li > a {
	  background: none;
	  border: none;
	  width: 100%;
	  padding: 10px 0px; }
  
	.navbar-inverse .navbar-nav > li > a:focus,
	.navbar-inverse .navbar-nav > li > a:hover {
	  background-color: #383E4C; }
  
	.navbar-inverse .navbar-nav > .active > a,
	.navbar-inverse .navbar-nav > .active > a:focus,
	.navbar-inverse .navbar-nav > .active > a:hover {
	  background: #383E4C; }
  
	.navbar-inverse .navbar-nav > li > a {
	  font-size: 16px; }
  
	.container {
	  margin-left: 0;
	  margin-right: 0; }
  
	.single-page-nav {
	  background-color: #383E4C;
	  max-height: 0;
	  -webkit-transition: max-height 0.8s;
	  transition: max-height 0.8s;
	  overflow: hidden; }
  
	/*http://css3.bradshawenterprises.com/animating_height/*/
	.single-page-nav.show {
	  max-height: 250px;
	  overflow: auto; }
  
	.contact-form-left {
	  padding-right: 0; }
  
	.contact-form-right {
	  padding-left: 0; } }
  /*    Wide Mobile Layout: 480px. */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
	.header-content h1 {
	  font-size: 70px; 
	} 
	h1 {
		padding-top: 10px;
	} 
  }
  @media only screen and (max-width: 520px) {
	.col-xxs-12 {
	  width: 100%; } 
	  h1 {
		padding-top: 10px;
	  } 
	}
  @media only screen and (max-width: 480px) {
	header {
	  height: 30vh; }
	  h1 {
		padding-top: 10px;
	  } 
	}
  h3.section_title {
	font-size: 35px;
	color: #353535; }
  
